* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.bg-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clc-btn {
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}